@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

ul {
	list-style: circle;
	margin-left: 0;
	padding-left: 0em;
	list-style-image: url(images/9.png);
	}
	
li {
	list-style-image: url(72.png);
	font-style: italic;
	margin-left: 46px;
	color: #5c0700;
	/*font-family: Palatino;
	font-style: italic; */
	}
object {
	margin-top: 0.5em;
	margin-bottom: -0.5em;
	width: 32px; 
	height:32px;
/*border-style:solid;
	border-left:thick double #ff0000;
	border-right:thick double #ff0000;*/
	background-image:url('123b.png');
	background-repeat:no-repeat;
}
object:hover
{
	background-image:url('123a.png');
	background-repeat:no-repeat;
}

embed {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style:solid;
	border-left:thick double #ff0000;
	border-right:thick double #ff0000;

	max-width: 32px;
	max-height: 22px;
	}
li:hover
{
background-color:#F5F5F5;
}

p.ap {
white-space: pre-wrap;
display: inline;
color: green;
font-style: bold;
margin-top: 0em;	
}
img.it {
max-width: 70%;
max-height: 70%;
float: right;
}

h1	{
	font-size: 150%;
    font-family: "Baskerville";
    color: #306EFF;
    background:url('A-V.png');
     background-size:auto 30px;
    background-repeat:no-repeat;
    background-position:right;
    margin-top: 0em;
	margin-bottom: 0em;
	-webkit-transition: .5s all;   
    -webkit-transition-delay: 5s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: 5s; 
    -o-transition: .5s all;   
    -o-transition-delay: 5s; 
    transition: .5s all;   
    transition-delay: 5s; 
	/*display: none;*/
}

h1:hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    -transition-delay: 0s;
    text-decoration: none;
	background: url('vt.png') right no-repeat;
	background-size:32px 32px;
}

h1:hover:before {

	color: #C8C8C8 ;
    
    top: 4em;
    font-size: 60%;
    font-weight:normal;
    font-style: italic;
    content: "VIETTIEN Dictionary for Mac v5.0b\A© 2010-2017 Nguyễn Việt Khoa\AViện Ngoại ngữ - ĐH Bách khoa Hà Nội";
    display: block;
    white-space: pre-wrap;
    right: 2.5em;
    position: absolute;
    z-index: 99;
     
}


h1.clicked {
    margin-left:50px;
 }

span.m {
color: #9a244f;
font-family: "Times New Roman";
font-weight: bold;


}

span.m:hover {

}



h3	{
	font-size: 100%;	
}

pre {
    /* overflow: auto; */
    	white-space: pre-wrap;
   	font-size: 11pt;
	font-family: Helvetica;
    
    /*background:url('A-V.png');
    background-repeat:no-repeat;
    background-position:right top;*/
    line-height:140%;
    margin-top: 0em;
	margin-bottom: 0.5em;
}


.c {
    font-family: "Times New Roman";
    display:block;
    width:25px;
    height:25px;
    top: 2.0em;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #4679BD; 
    box-shadow: 0 0 3px #019fde;
    font-size:20px;
    font-weight:bold;
    right: 0.75em;
    position: absolute;
    z-index: 99;
}
.c:hover {
    background:#C23259;
    box-shadow: 0 0 3px #5D8F24;
    
}

.c:hover:before {
color: #008080;
	font-size: 90%;
	font-style: italic;
    content: "Thông tin";
    top: 0.5em;
    right: 2.0em;
    position: absolute;
    z-index: 99;
    white-space: nowrap;
    
}




.t:hover:before {
    
background-color:#727272;
            border-radius: 3px 3px 3px 3px ;
            color: #FFFFFF ;
            content: "Nghe phát âm";
            
            font-size: 14px ;
            left: 59px ;
            line-height: 20px ;
            margin-top: 0px ;
            padding: 3px 3px 2px 3px ;
            position: absolute ;
            text-align: center ;

}


span.column {
	display: block;
	border: solid 2px #c0c0c0;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

div.y:before {
    content: "/";
}

div.y:after {
    content: "/";
}

div.y {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: "Baskerville";
    font-size: 120%;
    color: #333;
}


span.head {color: #E66C2C;font-family: "Times New Roman";font-weight: bold;font-size: 22px;} 

span.maucau {color: green; font-style: italic; font-weight:bold;} 
li.muctu {font-style:italic; padding:0px; margin-left: 1.2em; color:#17411d;list-style-image: url(72.png);font-family: "Times New Roman";line-height:140%;}



span.lt {
color: #4f7a28;
font-weight: bold;

}


span.bk {
color: #006d8f;
font-weight: bold;

}

span.fi {
color: #0061ff;
font-weight: bold;
}

span.thn {
color: #b51a00;
font-style: italic;

}

/*
============================
	Lookup -- Common part
*/
html.apple_client-panel {
	background-color: transparent;
	font-size: 14px;
}
html.apple_client-panel body {

    	white-space: pre-wrap;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	
	color: #111111;
	text-shadow: 0px 1px 0px #EEEEEE;
	line-height: 18px;
	
	/*overflow-x: hidden;
	overflow-y: hidden;*/
}
html.apple_client-panel a,
html.apple_client-panel a:link,
html.apple_client-panel a:visited,
html.apple_client-panel a:hover,
html.apple_client-panel a:active
{
	color: #000000;
	text-decoration: none;
}
html.apple_client-panel h1 {
display: none;
}

html.apple_client-panel embed {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style:solid;
	border-left:thick double #ff0000;
	border-right:thick double #ff0000;

	max-width: 32px;
	max-height: 22px;
}

html.apple_client-panel pre {

       	
	

    background:url('vt.png');
    background-size:auto 24px;
    background-repeat:no-repeat;
    background-position:right top;
    line-height:130%;
    margin-top: -3.5em;
	margin-bottom: 0em;
}

/*html.apple_client-panel img.it {
max-width: 50%;
max-height: 50%;
}*/

html.apple_client-panel object {
display: none;
	}
html.apple_client-panel embed {
display: none;
	}

html.apple_client-panel .c {
display: none;
	}
		
html.apple_client-panel li {
	
	font: -apple-system-body;
	font-family: -apple-system;
	font-size:90%;
	font-style: italic;
	/*color: #808000;*/
	}
html.apple_client-panel div.lineart {
	display: none;
}

